RewriteEngine On

# Redirects for API
RewriteRule ^api/([a-z]+)/([a-z-]+)$ /api/$1/$2.php

# Redirects for ADMIN
RewriteRule ^backend$ /admin/pages/index/index.php 

# Redirects for CUSTOMER
RewriteRule ^index.php$ /customer/pages/index/index.php 
RewriteRule ^products$ /customer/pages/products/index.php 
RedirectMatch ^/(.*?)/$ /$1

