.c-footer {
  @extend .wrapper;
  padding-top: 15px;
  padding-bottom: 15px;
  a, p, h3 {
    color: grey;
    font-size: 12px;
  }
  h3 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  a {
    color: black;
    text-decoration: underline;
  }  
  [class^="col-"] {
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
}
