.c-header {
  $logo-width: 140px;
  
  height: $header-height;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &__logo {
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    width: $logo-width;
    background-size: 70%;
    background-position: center;
    background-color: $accent-color;
  }
  &__navButtonWrap {
    position: absolute;
    left: $logo-width;
    top: 0;
    width: $nav-button-wrap-width;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    transtion: 0.3s;
    padding-bottom: 2px;
  }
  &__buttonsList {
    position: absolute;
    top: 0;
    left: $logo-width + $nav-button-wrap-width;
    display: flex;
  }
  &__avatarWrap {
    position: absolute;
    top: 0;
    right: 0;
    height: $header-height;
    width: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


