.c-mainPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  &__inner {
    width: 100%; 
    max-width: $content-inner-width;
  }
  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .c-panelCard {
      width: 210px;
      height: 170px;
      margin: 8px;
    }
  }
}
