.c-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: $header-height; 
  &__head {
    flex-grow: 0;
  }
  &__body {
    flex-grow: 1;
    display: flex;
  }
  &__foot {
    flex-grow: 0;
  }
}
