.c-textarea {
  label {
    @extend .input-label;
  }
  textarea {
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    font-size: 16px;
    padding: 7px 20px 7px 10px;
    min-width: $input-min-width;
    height: 100px;
  }
}
